name: ci
on: [push]

defaults:
  run:
    shell: bash

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: false
      - name: Run tests
        run: go test -v ./cmd/... ./core ./internal/...
      - name: Build
        run: go build -v ./cmd/ocala
